[submodule "toolchain"]
	path = toolchain
	url = https://github.com/stanfordsnr/gg-toolchain
[submodule "test_vectors"]
	path = test_vectors
	url = https://github.com/stanfordsnr/gg-test-vectors
[submodule "third_party/trapeze"]
	path = third_party/trapeze
	url = https://github.com/kalevalp/trapeze
