

*.a
*.o
.deps
Makefile
Makefile.in
*.log
*.trs
.dirstamp

/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/gg-*.tar.gz
/stamp-h1
/test-driver

.idea
.env
CMakeLists.txt
cmake-build-debug
.DS_Store
._.DS_Store
*.py[cod]
__pycache__/
