[submodule "toolchain"]
	path = toolchain
	url = https://github.com/stanfordsnr/gg-toolchain
[submodule "test_vectors"]
	path = test_vectors
	url = https://github.com/stanfordsnr/gg-test-vectors
[submodule "third_party/cpptoml"]
	path = third_party/cpptoml
	url = https://github.com/skystrife/cpptoml
