*.a
*.o
.deps
Makefile
Makefile.in
*.log
*.trs

/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/alfalfa-*.tar.gz
/stamp-h1
/test-driver

/src/frontend/gg-trace
/src/frontend/gg-gcc


.idea
CMakeLists.txt
cmake-build-debug
